.input {
  width: 83rem;
  margin: 0 auto;
  /* border: 1px solid red; */
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  color: gray;
  padding: 1rem 0;
}

form {
  display: flex;
  justify-content: space-between;
}

.inputTitle {
  width: 50%;
  height: 2.5rem;
  padding: 15px;
  font-size: 1.5rem;
  border: 1px solid gray;
}

.inputAuthor {
  width: 20%;
  height: 2.5rem;
  padding: 15px;
  font-size: 1.5rem;
  margin: 0 0 0 2%;
  border: 1px solid gray;
}

.addABook {
  width: 15%;
  background-color: #0290ff;
  color: white;
  font-size: 1rem;
}
